# Hot hot hot

In this notebook, I try to figure out what the hottest recorded data point is and some info about it.

## Initializing

First we initialize the data and load it into spark. I'm loading the smaller data set for a faster turn around time.

In [21]:
from pyspark.sql.types import StructType, StructField, FloatType, LongType, StringType
import pyspark.sql.functions as F
import numpy as np

from scipy.constants import convert_temperature

from datetime import datetime

In [2]:
hdfs_port = "hdfs://orion11:26990"
# data_path = "/nam_s/nam_201501_s*"
data_path = "/nam_s/*"
# data_path = "/sample/nam_tiny*"

In [3]:
feats = []
f = open('../features.txt')
for line_num, line in enumerate(f):
    line = line.strip()
    if line_num == 0:
        # Timestamp
        feats.append(StructField(line, LongType(), True))
    elif line_num == 1:
        # Geohash
        feats.append(StructField(line, StringType(), True))
    else:
        # Other features
        feats.append(StructField(line, FloatType(), True))
        
    
schema = StructType(feats)

In [4]:
df = spark.read.format('csv').option('sep', '\t').schema(schema).load(f'{hdfs_port}{data_path}')

CPU times: user 2.16 ms, sys: 723 Âµs, total: 2.88 ms
Wall time: 5.15 s

## Filtering

After loading in the data, I try to minimize the data set to only the relevant information: Timestamp, Geohash and temperature_surface.

I then order it by the surface temperature and look at the top 30 values.

In [13]:
dg = df.select("Timestamp", "Geohash", "temperature_surface")
dg = dg.orderBy(F.desc("temperature_surface"))

In [16]:
%%time

dg_head = dg.head(30)

[Row(Timestamp=1440352800000, Geohash='d5f0jqerq27b', temperature_surface=330.67431640625),
 Row(Timestamp=1440266400000, Geohash='d5f0vd8eb80p', temperature_surface=330.640625),
 Row(Timestamp=1430157600000, Geohash='9g77js659k20', temperature_surface=330.6044921875),
 Row(Timestamp=1439056800000, Geohash='d5f0jqerq27b', temperature_surface=330.53662109375),
 Row(Timestamp=1440612000000, Geohash='d59d5yttuc5b', temperature_surface=330.48193359375),
 Row(Timestamp=1440612000000, Geohash='d59eqv7e03pb', temperature_surface=330.35693359375),
 Row(Timestamp=1440612000000, Geohash='d59dntd726gz', temperature_surface=330.23193359375),
 Row(Timestamp=1440698400000, Geohash='d59eqv7e03pb', temperature_surface=330.220703125),
 Row(Timestamp=1438279200000, Geohash='d5f04xyhucez', temperature_surface=330.179931640625),
 Row(Timestamp=1439488800000, Geohash='d5dpds10m55b', temperature_surface=330.14990234375),
 Row(Timestamp=1440266400000, Geohash='d59sxjhg1uh0', temperature_surface=330.140625),
 Row(Timestamp=1438279200000, Geohash='d5dpds10m55b', temperature_surface=330.054931640625),
 Row(Timestamp=1438279200000, Geohash='d5f0fgg1kg5b', temperature_surface=330.054931640625),
 Row(Timestamp=1440871200000, Geohash='d59d5yttuc5b', temperature_surface=329.9990234375),
 Row(Timestamp=1430157600000, Geohash='9g7e0htfnepz', temperature_surface=329.9794921875),
 Row(Timestamp=1439056800000, Geohash='d59eknqv867b', temperature_surface=329.91162109375),
 Row(Timestamp=1439488800000, Geohash='d59eqv7e03pb', temperature_surface=329.89990234375),
 Row(Timestamp=1439143200000, Geohash='d59d5yttuc5b', temperature_surface=329.89697265625),
 Row(Timestamp=1440266400000, Geohash='d59sh673de00', temperature_surface=329.890625),
 Row(Timestamp=1439402400000, Geohash='d5f04xyhucez', temperature_surface=329.866455078125),
 Row(Timestamp=1440612000000, Geohash='d5f0jqerq27b', temperature_surface=329.85693359375),
 Row(Timestamp=1430157600000, Geohash='9gq294h87820', temperature_surface=329.8544921875),
 Row(Timestamp=1440871200000, Geohash='d59dc7te84k0', temperature_surface=329.7490234375),
 Row(Timestamp=1440612000000, Geohash='d59d1r9p8y7b', temperature_surface=329.73193359375),
 Row(Timestamp=1440612000000, Geohash='d59eknqv867b', temperature_surface=329.73193359375),
 Row(Timestamp=1439056800000, Geohash='d5f0fgg1kg5b', temperature_surface=329.66162109375),
 Row(Timestamp=1439056800000, Geohash='d59sp10pj15b', temperature_surface=329.66162109375),
 Row(Timestamp=1439143200000, Geohash='d596q8u3hf7z', temperature_surface=329.64697265625),
 Row(Timestamp=1440266400000, Geohash='d596yu8uczh0', temperature_surface=329.640625),
 Row(Timestamp=1439661600000, Geohash='d59d5yttuc5b', temperature_surface=329.632080078125)]

## Convert to Pandas

Now I convert the smaller data set to a pandas data frame for easier use.

In [38]:
%%time

rdd = sc.parallelize(dg_head)
p_df = rdd.toDF().toPandas()
p_df["date"] = p_df.apply(lambda x: datetime.utcfromtimestamp(x["Timestamp"]//1000).strftime('%Y-%m-%d'), axis=1)
p_df["fernheit"] = p_df.apply(lambda x: convert_temperature(x.temperature_surface, 'K', 'F'), axis=1)
p_df

## Results

It appears that while this is an anomaly (temparatures of 135F are extremely rare) it is not the only one of its kind. The rest of the top 30 values have similar surface temperatures and are all in the same "d5" hash region.

The highest temperature recorded maps to Cancun, Mexico.

![cancun](img/cancun.png)